button{
    background-color: $cl-lowcode-orange;
    font-size: $sz-font-h3-size;
    color: $white;
    border-radius: 100px;
    padding: $sz-spacing-default * .3  $sz-spacing-default * .8;
    border: none;
}


.closer button{
    background-color: $cl-lowcode-orange;
    font-size: $sz-font-h3-size;
    
    border-radius: 100px;
    padding: $sz-spacing-default * .3  $sz-spacing-default * .8;
    border: none;

    color: $white !important;
    min-height: auto;
    font-family: inherit;
}