.grid{
    display: grid;
    grid-gap: $sz-spacing-default;
    justify-content: center;
}

.grid-1{
    @extend .grid; 
    grid-gap: $sz-spacing-default * 2;
    //grid-template-columns: repeat(auto-fill, 620px);
    grid-template-columns: repeat(auto-fill, 1fr);
}

.grid-2{
    @extend .grid; 
    grid-template-columns: repeat(auto-fill, 620px);
}

.grid-3{
    @extend .grid; 
    // grid-template-columns: repeat(auto-fill, 480px);
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: $sz-breakpoint-desktop) { 
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $sz-breakpoint-desktop-large) { 
        grid-template-columns: repeat(3, 1fr);
    }
}

