.icn-wrap{
    background-color: $cl-brand-primary;
    width: 96px;
    height: 96px;
    //border-radius: 16px;
    border-radius: 16%;
    display: flex;
    justify-content: center;
    align-items: center;

    i{
        color: white;
        --ggs: 2;
        //transform: scale(2);
    }
}

//icon fixes
.gg-trending{
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
}

.gg-color-bucket{
    position: absolute;
    margin-top: -30px;
    margin-left: -15px;
}

.gg-comment{
    position: absolute;
    margin-top: -10px;
    // margin-left: -15px;
}




/////////

.icn-designsystem{
    background-color: $cl-brand-info;
    i{
        //@extend .gg-extension;
        @extend .gg-color-bucket;
    }
}


.icn-training{
    background-color: $cl-brand-primary;
    i{
        @extend .gg-comment;
    }
}

.icn-roi{
    background-color: $cl-brand-success;
    i{
        @extend .gg-trending;
    }
}

.icn-academy{
    background-color: $cl-brand-danger;
    i{
        @extend .gg-awards;
    }
}



.icn-price{
    background-color: $cl-brand-primary;
    i{
        @extend .gg-euro;
    }
}

.icn-growth{
    background-color: $cl-brand-success;
    i{
        @extend .gg-trending;
    }
}

.icn-trash{
    background-color: $cl-brand-danger;
    i{
        @extend .gg-trash;
    }
}

.icn-link{
    @extend .gg-chevron-right;
}

//// HK icns
.pagewrap-hk{
    .icn-price{
        background-color: $cl-hk-purple;
    }

    .icn-trash{
        background-color: $cl-hk-black;
    }

    .icn-growth{
        background-color: $cl-hk-green;
    }

}