////////// fonts

h1, h2, h3{
    font-family: $sh-fontfamily-headers;
    color: $cl-font-header;
    font-weight: 700;
}

h1{
    font-size: $sz-font-h1-size;
    line-height: $sz-font-h1-lineheight;
}

h2{
    text-align: center;
    font-size: $sz-font-h2-size;
    line-height: $sz-font-h2-lineheight;
    opacity: .25;
    padding-bottom: 160px;
}

section.clientlogos h2{
    font-size: $sz-font-h3-size;
    line-height: $sz-font-h3-lineheight;
    padding-bottom: 32px;
}

h3{
    font-size: $sz-font-h3-size;
    line-height: $sz-font-h3-lineheight;
}
.metrics{
    article{
        h3{
            font-size: $sz-font-h3-size *1.8;
            line-height: $sz-font-h3-lineheight *1.4;
        }
    }
}

p, a, ul, li{
    font-family: $sh-fontfamily-body;
    font-size: $sz-font-p-size;
    line-height: $sz-font-p-lineheight;
    font-weight: 400;
    color: $cl-font-body;
    text-decoration: none;
}

.link{
    color: $cl-brand-clickable;
}



a article{
    
    &:hover{
        transform: translateX(6px);
        border: 1px solid rgba(0,0,0,0.2);
        border: none;
        .link{
            color: $cl-brand-clickable-hover;
            text-decoration: underline;
        }

        .icn-wrap{
            transform: rotate(-10deg);
        }
    }
}

// a .link{
//     color: $cl-brand-clickable;
//     text-decoration: none;
//     position: relative;
//     display: block;
//     &:hover{
//         color: $cl-brand-clickable-hover;
//     }
// }