// variables

//imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@400;500;700&display=swap');


///////////////////////////
//Colors
///////////////////////////

$cl-lowcode-orange: #FF8A00;
$cl-lowcode-black: #222222;
$cl-lowcode-success: #1EB924;
$cl-lowcode-danger: #E6302B;
$cl-lowcode-clickable: #1490FF;


$cl-hk-purple:  #4F3873;
$cl-hk-green:   #4AA52D;
$cl-hk-black:   #29292E;

$cl-brand-accent: $cl-lowcode-orange;

$white: #fff;
$cl-bg-body: #f9f9f9;

$cl-font-header: #333;
$cl-font-body: #666;

///////////////// 

$cl-brand-primary:      $cl-lowcode-orange;
$cl-brand-success:      $cl-lowcode-success;
$cl-brand-warning:      orange;
$cl-brand-danger:       $cl-lowcode-danger;
$cl-brand-info:         $cl-lowcode-clickable;
$cl-brand-clickable:    $cl-lowcode-clickable;
$cl-brand-clickable-hover:    darken($cl-lowcode-clickable, 20);

$cl-bg-black: $cl-lowcode-black;

///////////////////////////
// Sizes
///////////////////////////
$sz-spacing-default: 64px;



$sz-font-h1-size:       80px;
$sz-font-h1-lineheight: 150%;
$sz-font-h2-size:       80px;
$sz-font-h2-lineheight: 124px;
$sz-font-h3-size:       32px;
$sz-font-h3-lineheight: 40px;
$sz-font-p-size:        24px;
$sz-font-p-lineheight:  40px;


$sz-breakpoint-mobile-portrait:     480px;  // shouldnt be used, mobile should be the default
$sz-breakpoint-mobile-landscape:    576px;  // landscape phones
$sz-breakpoint-tablet:              768px;  // tablets
$sz-breakpoint-desktop:             992px;  // Large devices (laptops and up)
$sz-breakpoint-desktop-large:       1200px; // Extra Large devices (desktops and up)
$sz-breakpoint-desktop-large-xl:    1400px; // 



///////////////////////////
//Shorthand
///////////////////////////
$sh-border-default:         1px solid rgba(0,0,0,0.2);

$sh-fontfamily-headers:     'Ubuntu', sans-serif;
$sh-fontfamily-body:        'Ubuntu', sans-serif;
$sh-fontfamily-mono:        'Ubuntu', sans-serif;