// imports

@import 'variables';

@import 'typography';
@import 'nav';
@import 'cssgg';
@import 'button';
@import 'icn';
@import 'header';
@import 'grid';
@import 'gutter';
@import 'contentitem';

@import 'case_bcard';



// mvp v02

.v02{
    display: none;
}

.col-image .img-ui-composition{ // fix for mvp02
    top: -320px;
} 




//resets
* {
    margin: 0;
    padding: 0;
}

*{
    transition: all 0.3s ease-in-out;
}

.displaynone{
    display: none;
}

.cta-hireme {
    display: none
}

.cta-contactme {
    display: inherit;
}


body {
    background-color: $cl-bg-body;
    color: $cl-font-body;
    font-family: sans-serif;

    // overflow: hidden;
    // overflow-y: auto;
    // width: 100%;
     position: relative;
}

footer{
    position: relative;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: stretch;

    .col{
        width: 50%;
    }

    .col-content{
        width: 50%;
        //background-color: green;
    }

    .col-image{
        width: 50%;
        //background-color: red;
    }

    @media (max-width: $sz-breakpoint-desktop-large-xl) {
        
        justify-content: flex-start;
        flex-direction: column;

        
        .col{
            width: 100%;
            
        }
    }
}




section {
    min-height: 60vh;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-top: $sh-border-default;
}

section.intro{
    h2{
        padding-bottom: 0;
    }
    p{
        font-weight: 500;
    }
}


////////// images

.img-ui{
    box-shadow: 0 10px 15px 0 rgba(#000, .25);
    border-radius: 26px;
    position: absolute;
}

.img-ui-composition{
    //position: relative;
    background-color: red;
    position: absolute;
    //right: 500px;
    //position: sticky;
    position: relative;
    top: 120px;
    margin-left: 200px;
     img:nth-child(1){
        //display: none;
    }
    img:nth-child(2){
        //display: none;
        margin-top: 157px;
        margin-left: 224px;
    }
    img:nth-child(3){
        margin-top: 410px;
        margin-left: 125px;
    }

    @media (max-width: $sz-breakpoint-desktop-large-xl) {
        
        display: none;
    }
}



section.clientlogos{
    min-height: auto;
    .clientlogos-wrap{
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: $sz-spacing-default 300px;
        justify-content: center;
        
    }
    img{
        opacity: .5;
        width: 200px;
    }
}

section.content-left{
    h2{
        text-align: left;
    }
}

.closer.closer{
    height: 500px;
    text-align: center;
}

footer{
    background-color: $cl-bg-black;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 32px;
}





.animation {
    transition: all 0.8s;
    &.unloaded{
        opacity: 0;
        transform: translateY(40px);
    }
    &.fromright{
        transform: translateX(200px);
    }
    &.inview {
        opacity: 1;
        transform: none;
        transition-delay: 0.3s;
      }
  }
  


  ul{
    list-style: none;
  }